[buildout]

extends =
    base.cfg
    versions.cfg
#    http://dist.plone.org/release/4.3.7/versions.cfg

find-links +=
    http://dist.plone.org/release/4.3.7

effective-user = plone_daemon
buildout-user = plone_buildout
need-sudo = yes


eggs =
    Plone
    Pillow
    plone4.csrffixes
    Products.PloneFormGen
    uwosh.pfg.d2c
    Products.PloneHotfix20151208

# legacy items from older plone.com
    plone.app.dexterity [grok]
    collective.behavior.contactinfo
    eea.facetednavigation
    Products.Carousel
    Products.ContentWellPortlets

zcml =
#    plone.reload

develop =
#    src/my.package

var-dir=${buildout:directory}/var

backups-dir=${buildout:var-dir}

user=admin:admin

deprecation-warnings = off
verbose-security = off

parts =
    zeoserver
{% for client in zeoclients %}
    {{ client.name }}
{% endfor %}
    repozo
    backup
    zopepy
    precompiler


############################################
# Major Parts
# ----------------------
# These common parts make use of sane base settings from
# base.cfg. To customize a part, just add whatever options
# you need. Read base.cfg for common settings.

[zeoserver]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 127.0.0.1:{{ zeoserver }}

{% for client in zeoclients %}
[{{ client.name }}]
<= client_base
recipe = plone.recipe.zope2instance
zeo-address = ${zeoserver:zeo-address}
http-address = {{ client.port }}
{% if client.ftp_port is defined %}
ftp-address = {{ client.ftp_port }}
{% endif %}

{% endfor %}

############################################
# Versions Specification
# ----------------------
# Version information supplied here will "pin" Python packages to a particular
# version number, even when you use the "newest" flag running buildout.
# Specifying versions for all packages is a good idea and can prevent
# accidental changes when you add new packages to your buildout.
# Note that versions specified here will override those specified earlier
# in the configuration, including those from the Plone and Zope version
# config files.
#
[versions]
setuptools = 0.7.2
zc.buildout = 2.2.1
ZopeSkel = 2.21.2
Cheetah = 2.2.1
Products.DocFinderTab = 1.0.5
buildout.sanitycheck = 1.0b1
collective.recipe.backup = 2.17
plone.recipe.unifiedinstaller = 4.3.1
zopeskel.dexterity = 1.5.4.1
zopeskel.diazotheme = 1.1
Products.Carousel = 2.2.1
Products.ContentWellPortlets = 4.2.1
Products.PloneFormGen = 1.7.16
Products.PythonField = 1.1.3
Products.TemplateFields = 1.2.5
collective.behavior.contactinfo = 0.9
eea.faceted.vocabularies = 5.0
eea.facetednavigation = 7.5
plone.recipe.precompiler = 0.6
uwosh.pfg.d2c = 2.4.6

# Required by:
# uwosh.pfg.d2c==2.4.6
Products.TALESField = 1.1.3

# Required by:
# eea.facetednavigation==7.5
eea.jquery = 8.2

plone.protect = 3.0.13
plone.keyring = 3.0.1
plone.locking = 2.0.8
plone4.csrffixes = 1.0.4
cssselect = 0.9.1
Products.PloneHotfix20151208 = 1.0
