[buildout]

extends =
    base.cfg
    versions.cfg
#    http://dist.plone.org/release/4.3.3/versions.cfg

# If you change your Plone version, you'll also need to update
# the repository link below.
find-links +=
    http://dist.plone.org/release/4.3.3

# If you try to start Zope as root, it will change user id to run as
# the effective user specified here. This user id must own the var directory
# of your buildout.
effective-user = plone_daemon
# This user will own the rest of the installation, and should be used to
# run buildout.
buildout-user = plone_buildout
# A flag to tell the Unified Installer whether or not to document sudo use.
need-sudo = yes


eggs =
    Plone
    Pillow
    plone4.csrffixes
    Products.PloneFormGen
    uwosh.pfg.d2c

# legacy items from older plone.com
    plone.app.dexterity [grok]
    collective.behavior.contactinfo
    eea.facetednavigation
    Products.Carousel
    Products.ContentWellPortlets

zcml =
#    plone.reload


develop =
#    src/my.package


############################################
# var Directory
# -------------
# Sets the target directory for the "var" components of the install such as
# database and log files.
#
var-dir=${buildout:directory}/var


############################################
# Backup Directory
# ----------------
# Sets the target directory for the bin/backup and bin/snapshotbackup
# commands. Default is inside this project's var directory, but ideally
# this should be on a separate volume or backup server.
#
backups-dir=${buildout:var-dir}


############################################
# Initial User
# ------------
# This is the user id and password that will be used to create the initial
# user id that will allow you to log in and create a Plone site. This only
# sets the initial password; it will not allow you to change an already
# existing password. If you change the admin password via the web interface,
# the one below will no longer be valid.
# If you find yourself locked out of your Zope/Python installation, you may
# add an emergency user via "bin/plonectl adduser".
user=admin:__PASSWORD__


############################################
# Debug Options
# -------------
# Start Zope/Plone instances in "fg" mode to turn on debug mode;
# this will dramatically slow Plone.
#
# Add-on developers should turn deprecation warnings on
deprecation-warnings = off
# change verbose-security to "on" for useful security errors while developing
verbose-security = off


############################################
# Parts Specification
#--------------------
# Specifies the components that should be included in the buildout.
# Most are defined in the base.cfg extension; you may add your
# own if you need them at the end of this file.
parts =
    zeoserver
{% for client in zeoclients %}
    {{ client.name }}
{% endfor %}
    repozo
    backup
    zopepy
    unifiedinstaller
    precompiler
    setpermissions


############################################
# Major Parts
# ----------------------
# These common parts make use of sane base settings from
# base.cfg. To customize a part, just add whatever options
# you need. Read base.cfg for common settings.

[zeoserver]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 127.0.0.1:{{ zeoserver }}

{% for client in zeoclients %}
[{{ client.name }}]
<= client_base
recipe = plone.recipe.zope2instance
zeo-address = ${zeoserver:zeo-address}
http-address = {{ client.port }}
{% if client.ftp_port is defined %}
ftp-address = {{ client.ftp_port }}
{% endif %}

{% endfor %}

############################################
# Versions Specification
# ----------------------
# Version information supplied here will "pin" Python packages to a particular
# version number, even when you use the "newest" flag running buildout.
# Specifying versions for all packages is a good idea and can prevent
# accidental changes when you add new packages to your buildout.
# Note that versions specified here will override those specified earlier
# in the configuration, including those from the Plone and Zope version
# config files.
#
[versions]
setuptools = 0.7.2
zc.buildout = 2.2.1
ZopeSkel = 2.21.2
Cheetah = 2.2.1
Products.DocFinderTab = 1.0.5
buildout.sanitycheck = 1.0b1
collective.recipe.backup = 2.17
plone.recipe.unifiedinstaller = 4.3.1
zopeskel.dexterity = 1.5.4.1
zopeskel.diazotheme = 1.1
Products.Carousel = 2.2.1
Products.ContentWellPortlets = 4.2.1
Products.PloneFormGen = 1.7.16
Products.PythonField = 1.1.3
Products.TemplateFields = 1.2.5
collective.behavior.contactinfo = 0.9
eea.faceted.vocabularies = 5.0
eea.facetednavigation = 7.5
plone.recipe.precompiler = 0.6
uwosh.pfg.d2c = 2.4.6

# Required by:
# uwosh.pfg.d2c==2.4.6
Products.TALESField = 1.1.3

# Required by:
# eea.facetednavigation==7.5
eea.jquery = 8.2

plone.protect = 3.0.13
plone.keyring = 3.0.1
plone.locking = 2.0.8
plone4.csrffixes = 1.0.4
cssselect = 0.9.1

